:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  --brand-color: #2196f3;
  --second-brand-color: #188CE8;
  --primeri-white-colo: #f5f4fa;
  --light-text-color: #ffffff;
  --dark-text-color: #000000;
  --bg-header-footer-color: #2F303A;
  --gallery-text-color: #212121;
  --contacts-text-color: #757575;
  --icons-color-second: #AFB1B8;
  --form-border: rgba(33, 33, 33, 0.2);
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --box-shadow-second: rgba(0, 0, 0, 0.12);
  --roboto: "Roboto" , "sans-serif";
  --raleway: "Raleway" , "sans-serif";
}

.hero__button {
  display: block;
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-style: normal;
  padding: 10px 32px;
  background-color: var(--brand-color);
  color: var(--light-text-color);
  -webkit-box-shadow: 0px 4px 4px var(--box-shadow-color);
          box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  border: transparent;
  -webkit-transition: color var(--time) var(--timing-function), background-color var(--time) var(--timing-function);
  transition: color var(--time) var(--timing-function), background-color var(--time) var(--timing-function);
  margin: 0 auto;
  cursor: pointer;
}
.hero__button:hover, .hero__button:focus {
  color: var(--light-text-color);
  background: var(--brand-color);
}
@media screen and (max-width: 320px) {
  .hero__button {
    font-size: 13px;
  }
}

body {
  font-family: var(--roboto);
  color: var(--gallery-text-color);
  background: var(--light-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*section, header, footer, .backdrop {
    display: none;
}
.block {
    display: block;
}*/
.icon {
  display: block;
  fill: currentColor;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v28-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
.container {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gallery-text-color);
  margin-bottom: 30px;
  font-weight: 700;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.section--none-padding-top {
  padding-top: 0;
}

.team--background-color {
  background-color: var(--primeri-white-colo);
}

.header__container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
}

.logo__dark {
  color: var(--dark-text-color);
}

.logo__light {
  color: var(--light-text-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.site-nav {
  display: none;
  gap: 50px;
  margin-left: 93px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__item {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--gallery-text-color);
  font-weight: 500;
}

.site-nav__link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
  text-decoration: none;
  -webkit-transition: color var(--time) var(--timing-function);
  transition: color var(--time) var(--timing-function);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--brand-color);
}

.site-nav__link--current {
  color: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .header__burger-menu {
    display: none;
  }
}

.js-open-menu {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 10px 0;
}

.contacts {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--contacts-text-color);
  background-color: var(--light-text-color);
  -webkit-transition: fill var(--time) var(--timing-function), color var(--time) var(--timing-function);
  transition: fill var(--time) var(--timing-function), color var(--time) var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--brand-color);
  fill: var(--brand-color);
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--contacts-text-color);
  padding: 0;
}
@media screen and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__icon {
  margin-right: 10px;
}

.hero {
  text-align: center;
  padding: 118px 0;
  background: var(--bg-header-footer-color);
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__overlay {
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    height: 600px;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);
  }
}

.hero__title {
  font-weight: 900;
  max-width: 360px;
  width: 100%;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 30px;
  color: var(--light-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30PX;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--gallery-text-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--gallery-text-color);
  background: var(--primeri-white-colo);
  margin-bottom: 30px;
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .servises {
    display: none;
  }
}
.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.works__item {
  list-style: none;
  position: relative;
}

.works__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  color: var(--light-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  list-style: none;
  -webkit-box-shadow: 0px 1px 3px var(--box-shadow-second), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px var(--box-shadow-second), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--light-text-color);
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: auto;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
    margin-bottom: auto;
  }
}

.team__box {
  padding: 30px 0;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gallery-text-color);
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--contacts-text-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  list-style: none;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--icons-color-second);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  -webkit-transition: fill var(--time) var(--timing-function), background-color var(--time) var(--timing-function);
  transition: fill var(--time) var(--timing-function), background-color var(--time) var(--timing-function);
}
.social__link:hover, .social__link:focus {
  fill: var(--light-text-color);
  background-color: var(--brand-color);
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  list-style: none;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--icons-color-second);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--icons-color-second);
  -webkit-transition: fill var(--time) var(--timing-function), border-color var(--time) var(--timing-function);
  transition: fill var(--time) var(--timing-function), border-color var(--time) var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item {
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gallery-text-color);
  font-weight: 500;
}

.filter__button {
  cursor: pointer;
  font-family: var(--roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gallery-text-color);
  background-color: var(--primeri-white-colo);
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  -webkit-transition: color var(--time) var(--timing-function), background-color var(--time) var(--timing-function), -webkit-box-shadow var(--time) var(--timing-function);
  transition: color var(--time) var(--timing-function), background-color var(--time) var(--timing-function), -webkit-box-shadow var(--time) var(--timing-function);
  transition: box-shadow var(--time) var(--timing-function), color var(--time) var(--timing-function), background-color var(--time) var(--timing-function);
  transition: box-shadow var(--time) var(--timing-function), color var(--time) var(--timing-function), background-color var(--time) var(--timing-function), -webkit-box-shadow var(--time) var(--timing-function);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--brand-color);
  color: var(--light-text-color);
  -webkit-box-shadow: 0px 1px 1px var(--box-shadow-second), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px var(--box-shadow-second), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.gallery__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: -webkit-box-shadow var(--time) var(--timing-function);
  transition: -webkit-box-shadow var(--time) var(--timing-function);
  transition: box-shadow var(--time) var(--timing-function);
  transition: box-shadow var(--time) var(--timing-function), -webkit-box-shadow var(--time) var(--timing-function);
}
.gallery__link:hover, .gallery__link:focus {
  -webkit-box-shadow: 0px 1px 1px var(--box-shadow-second), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px var(--box-shadow-second), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__titel {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--gallery-text-color);
  margin-bottom: 4px;
  font-weight: 700;
}

.gallery__text {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
  font-weight: 400;
}

.gallery__card-content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gallery__card-img {
  position: relative;
  overflow: hidden;
}

.gallery__card-description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--light-text-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--time) var(--timing-function);
  transition: -webkit-transform var(--time) var(--timing-function);
  transition: transform var(--time) var(--timing-function);
  transition: transform var(--time) var(--timing-function), -webkit-transform var(--time) var(--timing-function);
}
.gallery__link:hover .gallery__card-description, .gallery__link:focus .gallery__card-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  background: var(--bg-header-footer-color);
  padding: 60px 0;
}

.footer-container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    text-align: left;
  }
}

.adres {
  font-style: normal;
}

.adres__list {
  font-style: normal;
  list-style: none;
  text-decoration: none;
}

.adres__text {
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  font-size: 14px;
}

.adres__item {
  margin-bottom: 9px;
}

.adres__link {
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  -webkit-transition: color var(--time) var(--timing-function);
  transition: color var(--time) var(--timing-function);
}
.adres__link:hover, .adres__link:focus {
  color: var(--brand-color);
}

@media screen and (min-width: 1200px) {
  .soc {
    margin-left: 70px;
  }
}

.soc__title {
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 20px;
  font-style: normal;
}

.soc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.soc-links__item {
  list-style: none;
  height: 44px;
  width: 44px;
}

.soc-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--light-text-color);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--time) var(--timing-function);
  transition: background-color var(--time) var(--timing-function);
}
.soc-links__link:hover, .soc-links__link:focus {
  background-color: var(--brand-color);
}

@media screen and (min-width: 1200px) {
  .email-input {
    margin-left: 93px;
  }
}
@media screen and (max-width: 1199px) {
  .email-input {
    display: block;
    width: 100%;
    max-width: 450px;
  }
}

.email-input__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 20px;
  font-style: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email-input__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1199px) {
  .email-input__form {
    display: block;
    width: 100%;
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .email-input__form {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.email-input__labe {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px var(--box-shadow-color));
          filter: drop-shadow(0px 4px 4px var(--box-shadow-color));
  border-radius: 4px;
  background-color: var(--bg-header-footer-color);
  margin-right: 12px;
  padding-left: 15px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  resize: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .email-input__labe {
    margin-bottom: 0;
  }
}

.email-input__button {
  display: block;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-text-color);
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px var(--box-shadow-color);
          box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 28px;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: color var(--time) var(--timing-function), background-color var(--time) var(--timing-function);
  transition: color var(--time) var(--timing-function), background-color var(--time) var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .email-input__button {
    position: relative;
  }
}

.email-input__icon {
  fill: var(--light-text-color);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--time) var(--timing-function), visibility var(--time) var(--timing-function);
  transition: opacity var(--time) var(--timing-function), visibility var(--time) var(--timing-function);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: visible;
  pointer-events: all;
  padding: 93px 15px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  /* position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);*/
  width: 450px;
  padding: 40px;
  background-color: var(--light-text-color);
  -webkit-box-shadow: 0px 1px 3px var(--box-shadow-second), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px var(--box-shadow-second), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--light-text-color);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__close-button:hover {
  fill: var(--brand-color);
}
.modal:focus-within .modal__close-button {
  fill: var(--brand-color);
}

.modal-form__titel {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--gallery-text-color);
}
@media screen and (min-width: 1200px) {
  .modal-form__titel {
    line-height: 1.15;
  }
}

.modal-form__label {
  display: block;
  line-height: 1.1666666667;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--contacts-text-color);
  margin-bottom: 4px;
}

.modal-form__contact {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__contact:focus-within .modal-form__icon {
  fill: var(--brand-color);
}

.modal-form__input {
  width: 100%;
  padding: 11px 11px 11px 44px;
  border: 1px solid var(--form-border);
  border-radius: 4px;
  outline: none;
}
.modal-form__input:focus {
  border-color: var(--brand-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-form__coment {
  display: block;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  height: 120px;
  width: 100%;
  resize: none;
  border: 1px solid var(--form-border);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.modal-form__coment:focus {
  border-color: var(--brand-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  height: 100%;
  background: var(--light-text-color);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 1;
  -webkit-transition: -webkit-transform var(--time) var(--timing-function);
  transition: -webkit-transform var(--time) var(--timing-function);
  transition: transform var(--time) var(--timing-function);
  transition: transform var(--time) var(--timing-function), -webkit-transform var(--time) var(--timing-function);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  transition: transform var(--time) var(--timing-function);
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.mobile-menu__close-button:hover {
  color: var(--brand-color);
}
.mobile-menu__close-button:focus-within .mobile-menu__close-button {
  color: var(--brand-color);
}

.mobile-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mobile-menu__list {
  margin-bottom: auto;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-size: 40px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--gallery-text-color);
  text-decoration: none;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--brand-color);
}

.mobile-menu__link--current {
  color: var(--brand-color);
}

.mobile-menu-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color);
}
@media screen and (max-width: 370px) {
  .mobile-menu-contacts__link {
    font-size: 22px;
  }
}
.mobile-menu-contacts__link[href*=tel] {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--contacts-text-color);
}
@media screen and (max-width: 370px) {
  .mobile-menu-contacts__link[href*=tel] {
    font-size: 18px;
  }
}

.social-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.social-mobile__item {
  padding-left: 10px;
  padding-right: 10px;
}
.social-mobile__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.social-mobile__item:first-child {
  padding-left: 0;
}

.social-mobile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  text-decoration: none;
}
@media screen and (max-width: 370px) {
  .social-mobile__link {
    font-size: 12px;
  }
}

.checkbox {
  position: relative;
  margin-bottom: 30px;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  border: none;
  fill: var(--primeri-white-colo);
  fill-opacity: 1;
}

.checkbox__label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
  cursor: pointer;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .checkbox__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.checkbox__icon {
  fill: var(--primeri-white-colo);
  fill-opacity: 0;
  width: 16px;
  height: 15px;
  border: 2px solid var(--gallery-text-color);
  border-radius: 2px;
  -webkit-transition: background-color var(--time) var(--timing-function);
  transition: background-color var(--time) var(--timing-function);
  fill-opacity: var(--time) var(--timing-function);
}

.checkbox__link {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}/*# sourceMappingURL=main.css.map */