:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --brand-color: #2196f3;
    --second-brand-color: #188CE8;
    --primeri-white-colo: #f5f4fa;
    --light-text-color: #ffffff;
    --dark-text-color: #000000;
    --bg-header-footer-color: #2F303A;
    --gallery-text-color: #212121;
    --contacts-text-color: #757575;
    --icons-color-second: #AFB1B8;
    --form-border: rgba(33, 33, 33, 0.2);
}
body {
       font-family: 'Roboto', 'sans-serif';
    color: var(--gallery-text-color);
    background: var(--light-text-color);
    }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ul {
    padding: 0;
    margin: 0;
 }
.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
        /*outline: 2px solid rgb(204, 255, 0);*/
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

svg:not(:root) {
    overflow: hidden;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.header-container {
    width: 100%;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
.section {
   padding: 94px 0;
} 
.header {
    border-bottom: 1px solid #ECECEC;
}
 .navigation {
    display: flex;
    align-items: center;

      }

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color:var(--brand-color);
    text-decoration: none;
}
.logo-dark {
    color: var(--dark-text-color);
}
.navigation-list {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 93px;
    }
.navigation-item {
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color:var(--gallery-text-color);
    font-weight: 500;
}
.navigation-link {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
    text-decoration: none;
    transition: color 250ms var(--timing-function);
}
.navigation-link:hover,
.navigation-link:focus
{
    color: var(--brand-color);
}
.current {
    color: var(--brand-color);
    position: relative;
}
.current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;    
    position: absolute;
    background-color: var(--brand-color);
    border-radius: 2px;
}

.contacts-list {
    display: flex;
    gap: 50px;
    list-style: none;
    text-decoration: none;
   }
.contacts-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--contacts-text-color);
    background-color: var(--light-text-color);
    transition: fill 250ms var(--timing-function), color 250ms var(--timing-function);
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--brand-color);
    fill: var(--brand-color);
}

.contacts-item {
   display: flex;
   align-items: center;
   justify-content: center;
   fill: var(--contacts-text-color);
  }
  .contacts-icon {
    margin-right: 10px;
  }
  
.hero {
    text-align: center;
    padding: 200px 0;
    background: var(--bg-header-footer-color);
}
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/imghero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
 
.hero-title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color:var(--light-text-color);
}
.hero-title {
    text-align: center;
    max-width: 696px;
            }
.hero-baton {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    font-style: normal;
}
.hero-baton {
    padding: 10px 32px;
    background-color: var(--brand-color);
    color: var(--light-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
    margin: 0 auto;
    cursor: pointer;
}
.hero-baton:hover,
.hero-baton:focus
{
    color: var(--light-text-color);
    background: var(--brand-color);
}

.features-list {
    list-style: none;
    display: flex;
    gap: 30PX;
}

.features-item {
    max-width: 270px;
}

.features-titel {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--gallery-text-color);
    margin-bottom: 10px;
}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
   letter-spacing: 0.03em;
    color: var(--contacts-text-color);
}
.features-icon {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    fill: var(--gallery-text-color);
    background: var(--primeri-white-colo);
    margin-bottom: 30px;
    border-radius: 4px;
}

.works-section {
    padding-top: 0;
}
.works {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.works-title{
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--gallery-text-color);
    margin-bottom: 50px;
    font-weight: 700;
}
.works-item {
   list-style: none;
   position: relative;
}

.works-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 70px;
    color: var(--light-text-color);
    background-color: rgba(47, 48, 58, 0.8);
}
.team-seation {
    background-color: var(--primeri-white-colo);
}
.team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}
.team-item {
    list-style: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--light-text-color);
}
.team-titel {
    font-weight: 700;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--gallery-text-color);
    font-size: 36px;
}
.team-script {
    padding: 30px 0;
}
.team-text {
    font-weight: 400;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 16px;
    margin-bottom: 16px;
    color:var(--contacts-text-color);
}
.team-hading {
    font-weight: 500;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--gallery-text-color);
    margin-bottom: 10px;
    font-size: 16px;
        
}
.teams-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.teams-item {
    width: 44px;
    height: 44px;
    list-style: none;
}

.teams-link {
    display: flex;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--icons-color-second);
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.teams-link:hover,
.teams-link:focus {
    fill: var(--light-text-color);
    background-color: var(--brand-color);
}
.clients-titel {
    font-weight: 700;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--gallery-text-color);
    font-size: 36px;
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.clients-item {
    list-style: none;
    width: 170px;
    height: 92px;
}

.clients-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--icons-color-second);
    align-items: center;
    justify-content: center;
    fill: var(--icons-color-second);
    transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}


.clients-link:hover,
.clients-link:focus {
    border-color: var(--brand-color);
    fill: var(--brand-color);
   }

.logo-light {
     color: var(--light-text-color);
}
.floor {
    background:var(--bg-header-footer-color);
    padding: 60px 0; 
}
.floor-container {
    align-items: baseline;
display: flex;
    }
.floor-container-address {
flex-grow: 1;
}
.floor-logo {
   margin-bottom: 20px;
}

.adres{
 font-style: normal;
}
.adres-list {
    font-style: normal;
    list-style: none;
    text-decoration: none;
}
.adres-text {
    line-height: calc(24/12);
    letter-spacing: 0.03em;
    color: var(--light-text-color);
    font-size: 14px;
}
.adres-item {
   margin-bottom: 9px;
}
.adres-list :last-child {
    margin-bottom: 0;
}
.adres-link {
    line-height: calc(24/12);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    transition: color 250ms var(--timing-function);
}
.adres-link:hover,
.adres-link:focus {
    color: var(--brand-color);
}
.soc {
    margin-left: 70px;
}

.soc-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-text-color);
    margin-bottom: 20px;
    font-style: normal;
}

.soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.soc-item {
    list-style: none;
    height: 44px;
    width: 44px;
}

.soc-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--light-text-color);
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);
}
.soc-link:hover,
.soc-link:focus {
    background-color: var(--brand-color);
}

.email-input {
    margin-left: 93px;
     }
.email-form {
    display: flex;
}

.email-input-title {
    font-style: normal;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-text-color);
    margin-bottom: 20px;
    flex-direction: column;  
}

.email-input-labe {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--bg-header-footer-color);
    margin-right: 12px;
    padding-left: 15px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    resize: none;
    flex-direction: row;
}
.email-input-baton {
    position: relative;
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-text-color);
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 10px 28px;
    margin: auto;
    flex-direction: row;
}
.icon-send {
    fill: var(--light-text-color);
    margin-left: 10px;
}

.filter {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 50px;
 }

.filter-item {
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gallery-text-color);
    margin-right: 8px;
    font-weight: 500;
}
.filter-item:last-child {
    margin-right: 0;
}

.filter-button {
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gallery-text-color);
    background-color: var(--primeri-white-colo);
    padding: 6px 22px;
    border-radius: 4px;
    border: transparent;
    transition: box-shadow 250ms var(--timing-function), color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.filter-button:hover,
.filter-button:focus {
    background-color:var(--brand-color);
    color: var(--light-text-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery {
    text-decoration: none;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.gallery-item {
    flex-basis: calc((100% - 60px) / 3);
}
.gallery-titel {
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--gallery-text-color);
    margin-bottom: 4px;
    font-weight: 700;
}
.gallery-text {
    font-size: 14px;
    line-height: calc(24/12);
    letter-spacing: 0.03em;
    color:var(--contacts-text-color);
    font-weight: 400;
}
.gallery-link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link:hover,
.gallery-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
    padding: 20px 24px ;
    border: 1px solid #EEEEEE;
    border-top: 0;
}
.card-img {
    position: relative;
    overflow: hidden;
}

.card-description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--light-text-color);
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms var(--timing-function);
}
.gallery-link:hover .card-description,
.gallery-link:focus .card-description {
    transform: translateY(0);
}

/*modal*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--light-text-color) ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-close-baton {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--light-text-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-close-baton:hover {
    fill: var(--brand-color);
}
.modal:focus-within .modal-close-baton {
    fill: var(--brand-color);
}

/*Form*/
.form-titel {
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--gallery-text-color)
}
.form-label {
    display: block;
    line-height: calc(14/12);
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--contacts-text-color);
    margin-bottom: 4px;
}

.form-contact {
position: relative;
margin-bottom: 10px;
}

.form-input {
width: 100%;
padding: 11px 11px 11px 44px;
border: 1px solid var(--form-border);
border-radius: 4px;
outline: none;
}

.form-input:focus {
 border-color: var(--brand-color);
}

.form-icon {
position: absolute;
left: 12px;
top: 50%;
transform: translateY(-50%);
}

.form-contact:focus-within .form-icon {
    fill: var(--brand-color);
}

.form-coment {
    display: block;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    height: 120px;
    width: 100%;
    resize: none;
    border: 1px solid var(--form-border);
    border-radius: 4px;
    outline: none;
    padding: 12px 16px;
    margin-bottom: 20px;
}
.form-coment:focus {
    border-color: var(--brand-color);
}
/* Checkbox*/
.checkbox-input {
appearance: none;
}
.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 14px;
    line-height: calc(24/12);
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
    cursor: pointer;
}
.terms-link {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-left: 7px;
}
.checkbox {
    position: relative;
    margin-bottom: 30px;
}


.form-checkbox-icon {
    fill: var(--primeri-white-colo);
    fill-opacity: 0;
    width: 16px;
    height: 15px;
    border: 2px solid var(--gallery-text-color);
    border-radius: 2px;
    transition: background-color 250ms var(--timing-function);
    fill-opacity 250ms var(--timing-function);
    margin-right: 7px;
 }
.checkbox-input:checked+.form-checkbox-icon {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    border: none;
    fill: var(--primeri-white-colo);
    fill-opacity: 1;
}

.form-button {
    padding: 10px 52px;
}

.submit-baton {
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-text-color);
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 10px 28px;
    margin: 30px auto 0;
}