:root {
    --brand-color: #2196f3;
    --second-brand-color: #188CE8;
    --primeri-white-colo: #f5f4fa;
    --light-text-color: #ffffff;
    --dark-text-color: #000000;
    --bg-header-footer-color: #2F303A;
    --gallery-text-color: #212121;
    --contacts-text-color: #757575;
    --icons-color-second: #AFB1B8;
}
body {
       font-family: 'Roboto', 'sans-serif';
    color: var(--gallery-text-color);
    background: var(--light-text-color);
    
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ul {
    padding: 0;
    margin: 0;
 }
.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
        /*outline: 2px solid rgb(204, 255, 0);*/
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

svg:not(:root) {
    overflow: hidden;
}
.header-container {
    width: 100%;
    padding-right: 15px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        }
.section {
   padding: 94px 0;
} 
.header {
    border-bottom: 1px solid #ECECEC;
}
 .navigation {
    display: flex;
    align-items: center;

      }

.logo {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);
        letter-spacing: 0.03em;
        color:var(--brand-color);
        text-decoration: none;
}
.logo-dark {
    color: var(--dark-text-color);
}
.navigation-list {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 93px;
    }
.navigation-item {
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color:var(--gallery-text-color);
}
.navigation-link {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
    text-decoration: none;
}
.navigation-link:hover,
.navigation-link:focus {
    color: var(--brand-color);
}
.contacts-list {
    display: flex;
    gap: 50px;
        list-style: none;
    text-decoration: none;
   }
.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--contacts-text-color);
    background-color: var(--light-text-color);
   
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--brand-color);
}

.contacts-item {
   display: flex;
   align-items: center;
   justify-content: center;
   fill: var(--contacts-text-color);
  }
  .contacts-icon {
    margin-right: 10px;
  }
  .contacts-icon:hover,
  .contacts-icon:focus {
      fill: var(--brand-color);
  }
  
.hero {
        background: var(--bg-header-footer-color);
        text-align: center;
        padding: 200px 0;
}
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/imghero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
 
.hero-title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
        color:var(--light-text-color);
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
}
.hero-title {
        max-width: 696px;
        text-align: center;
            }
.hero-baton {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30/16);
}
.hero-baton {
        margin: 0 auto;
        padding: 10px 32px;
        background: var(--brand-color);
        color: var(--light-text-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: transparent;
}
.hero-baton:hover,
.hero-baton:focus
{
    color: var(--light-text-color);
    background: var(--brand-color);
}
.visually-hidden {
     position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-list {
    list-style: none;
    display: flex;
    gap: 30PX;
}

.features-item {
    max-width: 270px;
}

.features-titel {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--gallery-text-color);
    margin-bottom: 10px;
}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
   letter-spacing: 0.03em;
    color: var(--contacts-text-color);
}
.features-icon {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    fill: var(--gallery-text-color);
    background: var(--primeri-white-colo);
        border-radius: 4px;
        margin-bottom: 30px;

}

.works-section {
    padding-top: 0;
}
.works {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.works-title{
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--gallery-text-color);
        margin-bottom: 50px;
}
.works-item {
    list-style: none;
}
.team-seation {
    background-color: var(--primeri-white-colo);
}
.team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}
.team-item {
    list-style: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--light-text-color);
}
.team-titel {
    font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
        color: var(--gallery-text-color);
}
.team-script {
    padding: 30px 0;
}
.team-text {
    font-weight: 400;
        font-size: 16px;
        line-height: calc(19/16);
        text-align: center;
        letter-spacing: 0.03em;
    margin-bottom: 16px;
        color:var(--contacts-text-color);
}
.team-hading {
    font-weight: 500;
        font-size: 16px;
        line-height: calc(19/16);
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--gallery-text-color);
        margin-bottom: 10px;
        
}
.teams-list {
    display: flex;
        justify-content: center;
        gap: 10px;
}

.teams-item {
        list-style: none;
            width: 44px;
            height: 44px;
}

.teams-link {
    display: flex;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        fill: var(--icons-color-second);
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: rgba(255, 255, 255, 0.1);
}

.teams-link:hover,
.teams-link:focus {
    fill: var(--light-text-color);
    background-color: var(--brand-color);
}

.regular-clients {

}

.clients-titel {
    font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
        color: var(--gallery-text-color);
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.clients-item {
    list-style: none;
    width: 170px;
    height: 92px;
}

.clients-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--icons-color-second);
    align-items: center;
    justify-content: center;
    fill: var(--icons-color-second);
}


.clients-link:hover,
.clients-link:focus {
    border-color: var(--brand-color);
    fill: var(--brand-color);
   }

.logo-light {
     color: var(--light-text-color);
}
.floor {
    background:var(--bg-header-footer-color);
      padding: 60px 0; 
}
.floor-logo {
   margin-bottom: 20px;
}
.floor-container {
    align-items: baseline;
display: flex;
    }
.adres{
 font-style: normal;
}
.adres-list {
    font-style: normal;
    list-style: none;
    text-decoration: none;
}
.adres-text {
        font-size: 14px;
        line-height: calc(24/12);
        letter-spacing: 0.03em;
        color: var(--light-text-color);
}
.adres-item {
   margin-bottom: 9px;
}
.adres-list :last-child {
    margin-bottom: 0;
}
.adres-link {
        font-size: 14px;
        line-height: calc(24/12);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.adres-link:hover,
.adres-link:focus {
    color: var(--brand-color);
}
.soc {
    margin-left: 70px;
}

.soc-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--light-text-color);
        margin-bottom: 20px;
}

.soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.soc-item {
    list-style: none;
        width: 44px;
        height: 44px;
}

.soc-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--light-text-color);
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(255, 255, 255, 0.1);
}
.soc-link:hover,
.soc-link:focus {
    background-color: var(--brand-color);
}


.filter {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 50px;
 }

.filter-item {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(26/16);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--gallery-text-color);
       margin-right: 8px;
}
.filter-item:last-child {
    margin-right: 0;
}

.filter-button {
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gallery-text-color);
    background-color: var(--primeri-white-colo);
    padding: 6px 22px;
    border: transparent;
    }
.filter-button:hover,
.filter-button:focus {
    background-color:var(--brand-color);
    color: var(--light-text-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery {
        list-style: none;
        text-decoration: none;
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
}
.gallery-item {
        flex-basis: calc((100% - 60px) / 3);
}
.gallery-titel {
        font-weight: 700;
        font-size: 18px;
        line-height: calc(36/18);
        letter-spacing: 0.06em;
        color: var(--gallery-text-color);
        margin-bottom: 4px;
    }
.gallery-text {
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24/12);
        letter-spacing: 0.03em;
        color:var(--contacts-text-color);
}
.gallery-link {
    display: block;
    text-decoration: none;
}
.gallery-link:hover,
.gallery-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.card-content {
    padding: 20px 24px ;
    border: 1px solid #EEEEEE;
    border-top: 0;
}
.card-content {
    

}
