@import './utils/variables';
@import './utils/current';
@import './utils/placeholders';

@import './base/common';
@import './base/fonts';

@import './components/container';
@import './components/secttion';

@import './layout/header';
@import './layout/logo';
@import './layout/site-nav';
@import './layout/contacts';
@import './layout/hero';
@import './layout/features';
@import './layout/works';
@import './layout/team';
@import './layout/team-icons';
@import './layout/clients';
@import './layout/filter';
@import './layout/gallery';
@import './layout/footer';
@import './layout/adres';
@import './layout/soc';
@import './layout/email-input';
@import './layout/modal';
@import './layout/modal-form';
@import './layout/checkbox';