.checkbox {
    position: relative;
    margin-bottom: 30px;
}

.checkbox__input {
    appearance: none;

&:checked+.checkbox__icon {
        background-color: var(--brand-color);
        border-color: var(--brand-color);
        border: none;
        fill: var(--primeri-white-colo);
        fill-opacity: 1;
    }
}

.checkbox__label {

    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
    cursor: pointer;
    justify-content: space-between;

    @media screen and (min-width:768px) {
             display: flex;
                }

    @media screen and (min-width: 1200px)  {
            font-size: 14px;
            line-height: calc(24/14);
         }
}

.checkbox__icon {
    fill: var(--primeri-white-colo);
    fill-opacity: 0;
    width: 16px;
    height: 15px;
    border: 2px solid var(--gallery-text-color);
    border-radius: 2px;
    transition: background-color var(--time) var(--timing-function);
    fill-opacity: var(--time) var(--timing-function);
}



.checkbox__link {
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.03em;
    color: var(--brand-color);

    @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: calc(24/14);
        }
}