.contacts {
    text-decoration: none;

    @media screen and (max-width: 767px) {
            display: none;
        }

    @media screen and (max-width: 1199px) {
        flex-direction: column;
        justify-content: end;
        align-items: center;
            }

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 50px;

    }
}

.contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--contacts-text-color);
    background-color: var(--light-text-color);
    transition: fill var(--time) var(--timing-function), color var(--time) var(--timing-function);

    &:hover,
    &:focus {
        color: var(--brand-color);
        fill: var(--brand-color);
    }
}

.contacts__item {
    display: flex;
    align-items: center;
    fill: var(--contacts-text-color);
    padding: 0;

    @media screen and (max-width: 1199px){ 
        &:not(:last-child) {
            margin-bottom: 10px;
        }
}
}

.contacts__icon {
    margin-right: 10px;
}
