.filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 15px 8px;

@media screen and (min-width: 768px) {
        margin-bottom: 30px;
        justify-content: center;
    }

@media screen and (min-width: 1200px) {
    margin-bottom: 50px;
}
}

.filter__item {
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gallery-text-color);
    font-weight: 500;
}
.filter__button {
    cursor: pointer;
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gallery-text-color);
    background-color: var(--primeri-white-colo);
    padding: 6px 22px;
    border-radius: 4px;
    border: transparent;
    transition: box-shadow var(--time) var(--timing-function), color var(--time) var(--timing-function), background-color var(--time) var(--timing-function);

&:hover,
&:focus {
    background-color: var(--brand-color);
    color: var(--light-text-color);
    box-shadow: 0px 1px 1px var(--box-shadow-second), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

