.gallery {
    text-decoration: none;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.gallery__item {
    flex-basis: calc((100% - 60px) / 3);
}

.gallery__link {
    display: block;
    text-decoration: none;
    transition: box-shadow var(--time) var(--timing-function);

&:hover,
&:focus {
    box-shadow: 0px 1px 1px var(--box-shadow-second), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}  
}
.gallery__titel {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--gallery-text-color);
    margin-bottom: 4px;
    font-weight: 700;
}

.gallery__text {
    font-size: 14px;
    line-height: calc(24/12);
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
    font-weight: 400;
}
.gallery__card-content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.gallery__card-img {
    position: relative;
    overflow: hidden;
}

.gallery__card-description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--light-text-color);
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform var(--time) var(--timing-function);
.gallery__link:hover &,
.gallery__link:focus & {
    transform: translateY(0);
}
}
