.header__container {
    width: 100%;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    border-bottom: 1px solid #ECECEC;
}