.nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
    width: 100%;
    justify-content: space-between;    
    }
}

.site-nav {
    display: none;
    gap: 50px;
    margin-left: 93px;

@media screen and (min-width: 768px) {
    display: flex;
    }
}

.site-nav__item {
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--gallery-text-color);
    font-weight: 500;
}

.site-nav__link {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
    text-decoration: none;
    transition: color var(--time) var(--timing-function);
    &:hover,
    &:focus {
        color: var(--brand-color);
    }
}
.site-nav__link--current {
    color: var(--brand-color);
}

.header__burger-menu {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.js-open-menu {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px 0;
}
