.soc {
    margin-left: 70px;
}
.soc__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-text-color);
    margin-bottom: 20px;
    font-style: normal;
}
.soc-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.soc-links__item {
    list-style: none;
    height: 44px;
    width: 44px;
}
.soc-links__link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--light-text-color);
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);

&:hover,
&:focus {
    background-color: var(--brand-color);
}
}

