.works {
    padding-top: 0;
}

.works__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.works__item {
    list-style: none;
    position: relative;
}

.works__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 70px;
    color: var(--light-text-color);
    background-color: rgba(47, 48, 58, 0.8);
}