.current {
    color: var(--brand-color);
    position: relative;
}

.current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    position: absolute;
    background-color: var(--brand-color);
    border-radius: 2px;
}