%hero__button {
    display: block;
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    font-style: normal;
    padding: 10px 32px;
    background-color: var(--brand-color);
    color: var(--light-text-color);
    box-shadow: 0px 4px 4px var(--box-shadow-color);
    border-radius: 4px;
    border: transparent;
    transition: color var(--time) var(--timing-function), background-color var(--time) var(--timing-function);
    margin: 0 auto;
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--light-text-color);
        background: var(--brand-color);
    }
}